<div class="score-container">
    <h1 class="scorestreak">Score </h1>
    <div class="sous-container">
        <div class="left-element">
            <div class="pionS"><img width="80" height="80" class="pawn" src="../assets/white_piece.svg"></div>
            <h1 class="text-score">{{monScore}}</h1>
        </div> 
        <div class="right-element">
            <div class="pionS"><img width="80" height="80" class="pawn" src="../assets/dark_piece.svg"></div>
            <h1 class="text-score">{{ennemiScore}}</h1>
        </div>
    </div>
</div>