<div class="col-rigth">
    <h1 class="autourde"> Au tour de : {{ this.turn }} </h1>
    <table class="game-table">
        <tr *ngFor="let row of board; let i = index">
            <td *ngFor="let column of board; let j = index">
                <div class="pionAllie" *ngIf="board[i][j]==me"><img width="100" height="100" class="pawn" src="../assets/white_piece.svg"></div>
                <div class="pionEnnemi" *ngIf="board[i][j]==ennemi"><img width="100" height="100" class="pawn" src="../assets/dark_piece.svg"></div>
                <div class="pionPrediction" *ngIf="playable[i][j] === true && turn === me" (click)="onClick(i,j)"></div>
            </td>
        </tr>
    </table>
</div>